<ion-header>
  <ion-toolbar>
    <ion-title>Sala de Uso Multiple</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label>
        Fecha:
      </ion-label>
      <ion-input type="date" placeholder="Fecha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Hora:
      </ion-label>
      <ion-input type="time" placeholder="Hora"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Nro Invitados"></ion-input>
    </ion-item>

      <ion-label class="nota-aviso">
        *Maximo 10 invitados
      </ion-label>

    <ion-segment-button  class="btn-registrar">
      <ion-label>Registrar Reserva</ion-label>
    </ion-segment-button>
  </div>
</ion-content>
