#container{
    padding: 8%;
}


.btn-registrar{
    margin-top: 12%;
    background: #96d896;
    border-radius: 10px;
    color: #fff;
}

.nota-aviso{
    margin-top: 14px;
    display: block;
    font-size: 10.5px;
    color:red;
}