<ion-header>
  <ion-toolbar>
    <ion-title>Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-input [(ngModel)]="asunto" placeholder="Asunto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="detalle" class="msj-incidencia" placeholder="Detalles Asunto"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="fecha" type="date" placeholder="Fecha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="hora" type="time" placeholder="Hora"></ion-input>
    </ion-item>

      <ion-label class="nota-aviso">
        *Nota el tiempo para atender una incidencia es de 1 hora.
      </ion-label>

    <ion-segment-button  class="btn-registrar" (click)="registrarIncidencia()">
      <ion-label>Registrar</ion-label>
    </ion-segment-button>
  </div>
  
</ion-content>
