<ion-header>
  <ion-toolbar>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="col-50">
      <ion-card-content routerLink="/reservas/sala-uso-multiple">
        Sala de Uso Multiple
      </ion-card-content>
    </ion-card>
    <ion-card class="col-50">
      <ion-card-content routerLink="/reservas/gimnasio">
        Gimnasio
      </ion-card-content>
    </ion-card>
    <ion-card class="col-100">
      <ion-card-content routerLink="/reservas/zona-parrilla">
        Zona de Parrilla
      </ion-card-content>
    </ion-card>
    <ion-card class="col-50">
      <ion-card-content routerLink="/reservas/zona-deportiva">
        Zona Deportiva
      </ion-card-content>
    </ion-card>
    <ion-card class="col-50">
      <ion-card-content>
        Cine
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
