#container {
  text-align: center;

  position: absolute;
  left: 10%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
}

.title-login{
    margin-bottom: 10%;
    font-size: 1.4em;
    display: block;
}

.btn-login{
    margin-top: 12%;
    background: #96d896;
    border-radius: 10px;
    color: #fff;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.my-custom-menu {
  --width: 500px;
}