

<ion-router-outlet id="main"></ion-router-outlet>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NuevavistaApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NuevavistaApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
      <ion-label class="title-login">Ingrese sus datos</ion-label>
    
    <ion-item>
      <ion-input placeholder="Ingrese Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Ingrese Contraseña"></ion-input>
    </ion-item>
    <br>
    <ion-label>¿Olvidaste tu contraseña?</ion-label>
    <ion-segment-button routerLink="/inicio" class="btn-login" value="loginApp">
        <ion-label>Iniciar Sesión</ion-label>
    </ion-segment-button>
  </div>
</ion-content>
